# <font color=blue>Olist Analysis</font> - Data Checks and Cleaning
## Table of contents
Importing libraries and datasets

Checks and cleaning for olist_customers_dataset.csv

Checks and cleaning for olist_geolocation_dataset.csv

Checks and cleaning for olist_order_items_dataset.csv

Checks and cleaning for olist_order_payments_dataset.csv

Checks and cleaning for olist_order_reviews_dataset.csv

Checks and cleaning for olist_orders_dataset.csv

Checks and cleaning for olist_products_dataset.csv

Checks and cleaning for olist_sellers_dataset.csv

Checks and cleaning for product_category_name_translation.csv

Exporting cleaned datasets

# Importing libraries and datasets

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
# Defining path
path = r'C:\Users\PC\Downloads\Olist Analysis'

In [3]:
# Import datasets
df_customers = pd.read_csv(os.path.join(path,'Raw Data', 'olist_customers_dataset.csv'), index_col = False)
df_geolocation = pd.read_csv(os.path.join(path,'Raw Data', 'olist_geolocation_dataset.csv'), index_col = False)
df_items = pd.read_csv(os.path.join(path,'Raw Data', 'olist_order_items_dataset.csv'), index_col = False)
df_payments = pd.read_csv(os.path.join(path,'Raw Data', 'olist_order_payments_dataset.csv'), index_col = False)
df_reviews = pd.read_csv(os.path.join(path,'Raw Data', 'olist_order_reviews_dataset.csv'), index_col = False)
df_orders = pd.read_csv(os.path.join(path,'Raw Data', 'olist_orders_dataset.csv'), index_col = False)
df_products = pd.read_csv(os.path.join(path,'Raw Data', 'olist_products_dataset.csv'), index_col = False)
df_sellers = pd.read_csv(os.path.join(path,'Raw Data', 'olist_sellers_dataset.csv'), index_col = False)
df_translation = pd.read_csv(os.path.join(path,'Raw Data', 'product_category_name_translation.csv'), index_col = False)

# Data checks
## olist_customers_dataset
### Checks

In [4]:
# Check shape of dataframe
df_customers.shape

(99441, 5)

In [5]:
# Check head of dataframe
df_customers.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [6]:
# Check for duplicate values
df_customers_dups = df_customers[df_customers.duplicated()]
df_customers_dups.shape

(0, 5)

In [7]:
# Check for NaN values
df_customers.isnull().sum()

customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

In [8]:
# Describe dataframe
df_customers.describe()

       customer_zip_code_prefix
count              99441.000000
mean               35137.474583
std                29797.938996
min                 1003.000000
25%                11347.000000
50%                24416.000000
75%                58900.000000
max                99990.000000

In [9]:
# Check info of dataframe
df_customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

In [10]:
# Check for mixed type columns
for col in df_customers.columns.tolist():
  weird = (df_customers[[col]].applymap(type) != df_customers[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_customers[weird]) > 0:
    print (col)

### Cleaning/Wrangling

In [11]:
# Change customer_zip_code_prefix to string
df_customers['customer_zip_code_prefix']=df_customers['customer_zip_code_prefix'].astype(int).astype(str)

In [12]:
# Checking state value counts
df_customers['customer_state'].value_counts(dropna = False)

SP    41746
RJ    12852
MG    11635
RS     5466
PR     5045
SC     3637
BA     3380
DF     2140
ES     2033
GO     2020
PE     1652
CE     1336
PA      975
MT      907
MA      747
MS      715
PB      536
PI      495
RN      485
AL      413
SE      350
TO      280
RO      253
AM      148
AC       81
AP       68
RR       46
Name: customer_state, dtype: int64

In [13]:
# Replacing the state codes with the full names
df_customers['customer_state'] = df_customers['customer_state'].replace(['AC'], 'Acre')
df_customers['customer_state'] = df_customers['customer_state'].replace(['AL'], 'Alagoas')
df_customers['customer_state'] = df_customers['customer_state'].replace(['AP'], 'Amapá')
df_customers['customer_state'] = df_customers['customer_state'].replace(['AM'], 'Amazonas')
df_customers['customer_state'] = df_customers['customer_state'].replace(['BA'], 'Bahia')
df_customers['customer_state'] = df_customers['customer_state'].replace(['CE'], 'Ceará')
df_customers['customer_state'] = df_customers['customer_state'].replace(['DF'], 'Distrito Federal')
df_customers['customer_state'] = df_customers['customer_state'].replace(['ES'], 'Espírito Santo')
df_customers['customer_state'] = df_customers['customer_state'].replace(['GO'], 'Goiás')
df_customers['customer_state'] = df_customers['customer_state'].replace(['MA'], 'Maranhão')
df_customers['customer_state'] = df_customers['customer_state'].replace(['MT'], 'Mato Grosso')
df_customers['customer_state'] = df_customers['customer_state'].replace(['MS'], 'Mato Grosso do Sul')
df_customers['customer_state'] = df_customers['customer_state'].replace(['MG'], 'Minas Gerais')
df_customers['customer_state'] = df_customers['customer_state'].replace(['PA'], 'Pará')
df_customers['customer_state'] = df_customers['customer_state'].replace(['PB'], 'Paraíba')
df_customers['customer_state'] = df_customers['customer_state'].replace(['PR'], 'Paraná')
df_customers['customer_state'] = df_customers['customer_state'].replace(['PE'], 'Pernambuco')
df_customers['customer_state'] = df_customers['customer_state'].replace(['PI'], 'Piauí')
df_customers['customer_state'] = df_customers['customer_state'].replace(['RJ'], 'Rio de Janeiro')
df_customers['customer_state'] = df_customers['customer_state'].replace(['RN'], 'Rio Grande do Norte')
df_customers['customer_state'] = df_customers['customer_state'].replace(['RS'], 'Rio Grande do Sul')
df_customers['customer_state'] = df_customers['customer_state'].replace(['RO'], 'Rondônia')
df_customers['customer_state'] = df_customers['customer_state'].replace(['RR'], 'Roraima')
df_customers['customer_state'] = df_customers['customer_state'].replace(['SC'], 'Santa Catarina')
df_customers['customer_state'] = df_customers['customer_state'].replace(['SP'], 'São Paulo')
df_customers['customer_state'] = df_customers['customer_state'].replace(['SE'], 'Sergipe')
df_customers['customer_state'] = df_customers['customer_state'].replace(['TO'], 'Tocantins')

In [14]:
# Rechecking state value counts
df_customers['customer_state'].value_counts(dropna = False)

São Paulo              41746
Rio de Janeiro         12852
Minas Gerais           11635
Rio Grande do Sul       5466
Paraná                  5045
Santa Catarina          3637
Bahia                   3380
Distrito Federal        2140
Espírito Santo          2033
Goiás                   2020
Pernambuco              1652
Ceará                   1336
Pará                     975
Mato Grosso              907
Maranhão                 747
Mato Grosso do Sul       715
Paraíba                  536
Piauí                    495
Rio Grande do Norte      485
Alagoas                  413
Sergipe                  350
Tocantins                280
Rondônia                 253
Amazonas                 148
Acre                      81
Amapá                     68
Roraima                   46
Name: customer_state, dtype: int64

### olist_geolocation_dataset

In [15]:
# Check shape of dataframe
df_geolocation.shape

(1000163, 5)

In [16]:
# Check head of dataframe
df_geolocation.head()

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP

In [17]:
# Check for duplicate values
df_geolocation_dups = df_geolocation[df_geolocation.duplicated()]
df_geolocation_dups.shape

(261831, 5)

In [18]:
# Check for NaN values
df_geolocation.isnull().sum()

geolocation_zip_code_prefix    0
geolocation_lat                0
geolocation_lng                0
geolocation_city               0
geolocation_state              0
dtype: int64

In [19]:
# Describe dataframe
df_geolocation.describe()

       geolocation_zip_code_prefix  geolocation_lat  geolocation_lng
count                 1.000163e+06     1.000163e+06     1.000163e+06
mean                  3.657417e+04    -2.117615e+01    -4.639054e+01
std                   3.054934e+04     5.715866e+00     4.269748e+00
min                   1.001000e+03    -3.660537e+01    -1.014668e+02
25%                   1.107500e+04    -2.360355e+01    -4.857317e+01
50%                   2.653000e+04    -2.291938e+01    -4.663788e+01
75%                   6.350400e+04    -1.997962e+01    -4.376771e+01
max                   9.999000e+04     4.506593e+01     1.211054e+02

In [20]:
# Check info of dataframe
df_geolocation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000163 entries, 0 to 1000162
Data columns (total 5 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   geolocation_zip_code_prefix  1000163 non-null  int64
 1   geolocation_lat              1000163 non-null  float64
 2   geolocation_lng              1000163 non-null  float64
 3   geolocation_city             1000163 non-null  object
 4   geolocation_state            1000163 non-null  object
dtypes: float64(2), int64(1), object(2)
memory usage: 38.2+ MB

In [21]:
# Check for mixed type columns
for col in df_geolocation.columns.tolist():
  weird = (df_geolocation[[col]].applymap(type) != df_geolocation[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_geolocation[weird]) > 0:
    print (col)

### Cleaning/Wrangling

In [22]:
# Change customer_zip_code_prefix to string
df_geolocation['customer_zip_code_prefix']=df_customers['customer_zip_code_prefix'].astype(int).astype(str)

In [23]:
# Removing duplicate values
df_geolocation.drop_duplicates()

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state,customer_zip_code_prefix
0,1037,-23.545621,-46.639292,sao paulo,SP,14409
1,1046,-23.546081,-46.644820,sao paulo,SP,9790
2,1046,-23.546129,-46.642951,sao paulo,SP,1151
3,1041,-23.544392,-46.639499,sao paulo,SP,8775
4,1035,-23.541578,-46.641607,sao paulo,SP,13056
...,...,...,...,...,...,...
1000155,99965,-28.180655,-52.034367,agua santa,RS,NaN
1000156,99950,-28.072188,-52.011272,tapejara,RS,NaN
1000157,99950,-28.068864,-52.012964,tapejara,RS,NaN
1000158,99950,-28.068639,-52.010705,tapejara,RS,NaN
1000161,99980,-28.388932,-51.846871,david canabarro,RS,NaN

In [24]:
# Checking state value counts
df_geolocation['geolocation_state'].value_counts(dropna = False)

SP    404268
MG    126336
RJ    121169
RS     61851
PR     57859
SC     38328
BA     36045
GO     20139
ES     16748
PE     16432
DF     12986
MT     12031
CE     11674
PA     10853
MS     10431
MA      7853
PB      5538
RN      5041
PI      4549
AL      4183
TO      3576
SE      3563
RO      3478
AM      2432
AC      1301
AP       853
RR       646
Name: geolocation_state, dtype: int64

In [25]:
# Replacing the state codes with the full names
df_geolocation['geolocation_state'] = df_geolocation['geolocation_state'].replace(['AC'], 'Acre')
df_geolocation['geolocation_state'] = df_geolocation['geolocation_state'].replace(['AL'], 'Alagoas')
df_geolocation['geolocation_state'] = df_geolocation['geolocation_state'].replace(['AP'], 'Amapá')
df_geolocation['geolocation_state'] = df_geolocation['geolocation_state'].replace(['AM'], 'Amazonas')
df_geolocation['geolocation_state'] = df_geolocation['geolocation_state'].replace(['BA'], 'Bahia')
df_geolocation['geolocation_state'] = df_geolocation['geolocation_state'].replace(['CE'], 'Ceará')
df_geolocation['geolocation_state'] = df_geolocation['geolocation_state'].replace(['DF'], 'Distrito Federal')
df_geolocation['geolocation_state'] = df_geolocation['geolocation_state'].replace(['ES'], 'Espírito Santo')
df_geolocation['geolocation_state'] = df_geolocation['geolocation_state'].replace(['GO'], 'Goiás')
df_geolocation['geolocation_state'] = df_geolocation['geolocation_state'].replace(['MA'], 'Maranhão')
df_geolocation['geolocation_state'] = df_geolocation['geolocation_state'].replace(['MT'], 'Mato Grosso')
df_geolocation['geolocation_state'] = df_geolocation['geolocation_state'].replace(['MS'], 'Mato Grosso do Sul')
df_geolocation['geolocation_state'] = df_geolocation['geolocation_state'].replace(['MG'], 'Minas Gerais')
df_geolocation['geolocation_state'] = df_geolocation['geolocation_state'].replace(['PA'], 'Pará')
df_geolocation['geolocation_state'] = df_geolocation['geolocation_state'].replace(['PB'], 'Paraíba')
df_geolocation['geolocation_state'] = df_geolocation['geolocation_state'].replace(['PR'], 'Paraná')
df_geolocation['geolocation_state'] = df_geolocation['geolocation_state'].replace(['PE'], 'Pernambuco')
df_geolocation['geolocation_state'] = df_geolocation['geolocation_state'].replace(['PI'], 'Piauí')
df_geolocation['geolocation_state'] = df_geolocation['geolocation_state'].replace(['RJ'], 'Rio de Janeiro')
df_geolocation['geolocation_state'] = df_geolocation['geolocation_state'].replace(['RN'], 'Rio Grande do Norte')
df_geolocation['geolocation_state'] = df_geolocation['geolocation_state'].replace(['RS'], 'Rio Grande do Sul')
df_geolocation['geolocation_state'] = df_geolocation['geolocation_state'].replace(['RO'], 'Rondônia')
df_geolocation['geolocation_state'] = df_geolocation['geolocation_state'].replace(['RR'], 'Roraima')
df_geolocation['geolocation_state'] = df_geolocation['geolocation_state'].replace(['SC'], 'Santa Catarina')
df_geolocation['geolocation_state'] = df_geolocation['geolocation_state'].replace(['SP'], 'São Paulo')
df_geolocation['geolocation_state'] = df_geolocation['geolocation_state'].replace(['SE'], 'Sergipe')
df_geolocation['geolocation_state'] = df_geolocation['geolocation_state'].replace(['TO'], 'Tocantins')

In [26]:
# Rechecking state value counts
df_geolocation['geolocation_state'].value_counts(dropna = False)

São Paulo              404268
Minas Gerais           126336
Rio de Janeiro         121169
Rio Grande do Sul       61851
Paraná                  57859
Santa Catarina          38328
Bahia                   36045
Goiás                   20139
Espírito Santo          16748
Pernambuco              16432
Distrito Federal        12986
Mato Grosso             12031
Ceará                   11674
Pará                    10853
Mato Grosso do Sul      10431
Maranhão                 7853
Paraíba                  5538
Rio Grande do Norte      5041
Piauí                    4549
Alagoas                  4183
Tocantins                3576
Sergipe                  3563
Rondônia                 3478
Amazonas                 2432
Acre                     1301
Amapá                     853
Roraima                   646
Name: geolocation_state, dtype: int64

### olist_order_items_dataset

In [27]:
# Check shape of dataframe
df_items.shape

(112650, 7)

In [28]:
# Check head of dataframe
df_items.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [29]:
# Check for duplicate values
df_items_dups = df_items[df_items.duplicated()]
df_items_dups.shape

(0, 7)

In [30]:
# Check for NaN values
df_items.isnull().sum()

order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64

In [31]:
# Describe dataframe
df_items.describe()

       order_item_id          price  freight_value
count  112650.000000  112650.000000  112650.000000
mean        1.197834     120.653739      19.990320
std         0.705124     183.633928      15.806405
min         1.000000       0.850000       0.000000
25%         1.000000      39.900000      13.080000
50%         1.000000      74.990000      16.260000
75%         1.000000     134.900000      21.150000
max        21.000000    6735.000000     409.680000

In [32]:
# Check info of dataframe
df_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

In [33]:
# Check for mixed type columns
for col in df_items.columns.tolist():
  weird = (df_items[[col]].applymap(type) != df_items[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_items[weird]) > 0:
    print (col)

### Cleaning/Wrangling

In [34]:
# Change order_item_id to string
df_items['order_item_id']=df_items['order_item_id'].astype(int).astype(str)

### olist_order_payments_dataset

In [35]:
# Check shape of dataframe
df_payments.shape

(103886, 5)

In [36]:
# Check head of dataframe
df_payments.head()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [37]:
# Check for duplicate values
df_payments_dups = df_payments[df_payments.duplicated()]
df_payments_dups.shape

(0, 5)

In [38]:
# Check for NaN values
df_payments.isnull().sum()

order_id                0
payment_sequential      0
payment_type            0
payment_installments    0
payment_value           0
dtype: int64

In [39]:
# Describe dataframe
df_payments.describe()

       payment_sequential  payment_installments  payment_value
count       103886.000000         103886.000000  103886.000000
mean             1.092679              2.853349     154.100380
std              0.706584              2.687051     217.494064
min              1.000000              0.000000       0.000000
25%              1.000000              1.000000      56.790000
50%              1.000000              1.000000     100.000000
75%              1.000000              4.000000     171.837500
max             29.000000             24.000000   13664.080000

In [40]:
# Check info of dataframe
df_payments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB

In [41]:
# Check for mixed type columns
for col in df_payments.columns.tolist():
  weird = (df_payments[[col]].applymap(type) != df_payments[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_payments[weird]) > 0:
    print (col)

### Cleaning/Wrangling

None required.

### olist_order_reviews_dataset

In [42]:
# Check shape of dataframe
df_reviews.shape

(99224, 7)

In [43]:
# Check head of dataframe
df_reviews.head()

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53

In [44]:
# Check for duplicate values
df_reviews_dups = df_reviews[df_reviews.duplicated()]
df_reviews_dups.shape

(0, 7)

In [45]:
# Check for NaN values
df_reviews.isnull().sum()

review_id                      0
order_id                       0
review_score                   0
review_comment_title       87656
review_comment_message     58247
review_creation_date           0
review_answer_timestamp        0
dtype: int64

In [46]:
# Describe dataframe
df_reviews.describe()

       review_score
count  99224.000000
mean       4.086421
std        1.347579
min        1.000000
25%        4.000000
50%        5.000000
75%        5.000000
max        5.000000

In [47]:
# Check info of dataframe
df_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                99224 non-null  object
 1   order_id                 99224 non-null  object
 2   review_score             99224 non-null  int64
 3   review_comment_title     11568 non-null  object
 4   review_comment_message   40977 non-null  object
 5   review_creation_date     99224 non-null  object
 6   review_answer_timestamp  99224 non-null  object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB

In [48]:
# Check for mixed type columns
for col in df_reviews.columns.tolist():
  weird = (df_reviews[[col]].applymap(type) != df_reviews[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_reviews[weird]) > 0:
    print (col)

review_comment_title
review_comment_message

### Cleaning/Wrangling

I am not going to change the NaN values review_comment_title and review_comment_message as these likely just represent reviewers only giving a rating with no attached message.

In [49]:
# Change review_comment_title to string
df_reviews['review_comment_title']=df_reviews['review_comment_title'].astype(str)

In [50]:
# Change review_comment_message to string
df_reviews['review_comment_message']=df_reviews['review_comment_message'].astype(str)

### olist_orders_dataset

In [51]:
# Check shape of dataframe
df_orders.shape

(99441, 8)

In [52]:
# Check head of dataframe
df_orders.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [53]:
# Check for duplicate values
df_orders_dups = df_orders[df_orders.duplicated()]
df_orders_dups.shape

(0, 8)

In [54]:
# Check for NaN values
df_orders.isnull().sum()

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

In [55]:
# Describe dataframe
df_orders.describe()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
count,99441,99441,99441,99441,99281,97658,96476,99441
unique,99441,99441,8,98875,90733,81018,95664,459
top,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2018-04-11 10:48:14,2018-02-27 04:31:10,2018-05-09 15:48:00,2018-05-08 23:38:46,2017-12-20 00:00:00
freq,1,1,96478,3,9,47,3,522

In [56]:
# Check info of dataframe
df_orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

In [57]:
# Check for mixed type columns
for col in df_orders.columns.tolist():
  weird = (df_orders[[col]].applymap(type) != df_orders[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_orders[weird]) > 0:
    print (col)

order_approved_at
order_delivered_carrier_date
order_delivered_customer_date

### Cleaning/Wrangling

In [58]:
# Removing NaN values as these are likely to interfere with the time series analysis later
df_orders.dropna()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00
...,...,...,...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,2017-03-09 09:54:05,2017-03-09 09:54:05,2017-03-10 11:18:03,2017-03-17 15:08:01,2017-03-28 00:00:00
99437,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02 00:00:00
99438,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27 00:00:00
99439,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15 00:00:00
99440,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00

In [59]:
# Change order_approved_at to string
df_orders['order_approved_at']=df_orders['order_approved_at'].astype(str)

In [60]:
# Change order_delivered_carrier_date to string
df_orders['order_delivered_carrier_date']=df_orders['order_delivered_carrier_date'].astype(str)

In [61]:
# Change order_delivered_customer_date to string
df_orders['order_delivered_customer_date']=df_orders['order_delivered_customer_date'].astype(str)

### olist_products_dataset

In [62]:
# Check shape of dataframe
df_products.shape

(32951, 9)

In [63]:
# Check head of dataframe
df_products.head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

In [64]:
# Check for duplicate values
df_products_dups = df_products[df_products.duplicated()]
df_products_dups.shape

(0, 9)

In [65]:
# Check for NaN values
df_products.isnull().sum()

product_id                      0
product_category_name         610
product_name_lenght           610
product_description_lenght    610
product_photos_qty            610
product_weight_g                2
product_length_cm               2
product_height_cm               2
product_width_cm                2
dtype: int64

In [66]:
# Describe dataframe
df_products.describe()

,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
count,32341.000000,32341.000000,32341.000000,32949.000000,32949.000000,32949.000000,32949.000000
mean,48.476949,771.495285,2.188986,2276.472488,30.815078,16.937661,23.196728
std,10.245741,635.115225,1.736766,4282.038731,16.914458,13.637554,12.079047
min,5.000000,4.000000,1.000000,0.000000,7.000000,2.000000,6.000000
25%,42.000000,339.000000,1.000000,300.000000,18.000000,8.000000,15.000000
50%,51.000000,595.000000,1.000000,700.000000,25.000000,13.000000,20.000000
75%,57.000000,972.000000,3.000000,1900.000000,38.000000,21.000000,30.000000
max,76.000000,3992.000000,20.000000,40425.000000,105.000000,105.000000,118.000000

In [67]:
# Check info of dataframe
df_products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB

In [68]:
# Check for mixed type columns
for col in df_products.columns.tolist():
  weird = (df_products[[col]].applymap(type) != df_products[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_products[weird]) > 0:
    print (col)

product_category_name

### Cleaning/Wrangling

I am not dropping the NaN values as they likely will not interfere with any of my analysis.

In [69]:
# Renaming product_name_lenght to product_name_length
df_products = df_products.rename(columns={'product_name_lenght': 'product_name_length'})

In [70]:
# Renaming product_description_lenght to product_description_length
df_products = df_products.rename(columns={'product_description_lenght': 'product_description_length'})

In [71]:
# Change product_category_name to string
df_products['product_category_name']=df_products['product_category_name'].astype(str)

In [72]:
# Merging the category translations into the dataframe
df_products = df_translation.merge(df_products, on = 'product_category_name', indicator = True)

In [73]:
# Checking dataframe head
df_products.head()

,product_category_name,product_category_name_english,product_id,product_name_length,product_description_length,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,_merge
0,beleza_saude,health_beauty,e3e020af31d4d89d2602272b315c3f6e,58.0,1987.0,3.0,75.0,21.0,7.0,13.0,both
1,beleza_saude,health_beauty,c5d8079278e912d7e3b6beb48ecb56e8,60.0,330.0,1.0,1300.0,19.0,28.0,17.0,both
2,beleza_saude,health_beauty,36555a2f528d7b2a255c504191445d39,51.0,1069.0,1.0,1467.0,23.0,16.0,20.0,both
3,beleza_saude,health_beauty,e586ebb6022265ae1eea38f46ffe3ead,40.0,1469.0,3.0,1050.0,18.0,21.0,27.0,both
4,beleza_saude,health_beauty,75b4372e69a42f8ae1d908c076f547b2,22.0,1313.0,1.0,938.0,29.0,22.0,23.0,both

In [74]:
# Removing unnecessary columns
df_products = df_products.drop('_merge', axis=1)
df_products = df_products.drop('product_category_name', axis=1)

In [75]:
# Checking dataframe head
df_products.head()

,product_category_name_english,product_id,product_name_length,product_description_length,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,health_beauty,e3e020af31d4d89d2602272b315c3f6e,58.0,1987.0,3.0,75.0,21.0,7.0,13.0
1,health_beauty,c5d8079278e912d7e3b6beb48ecb56e8,60.0,330.0,1.0,1300.0,19.0,28.0,17.0
2,health_beauty,36555a2f528d7b2a255c504191445d39,51.0,1069.0,1.0,1467.0,23.0,16.0,20.0
3,health_beauty,e586ebb6022265ae1eea38f46ffe3ead,40.0,1469.0,3.0,1050.0,18.0,21.0,27.0
4,health_beauty,75b4372e69a42f8ae1d908c076f547b2,22.0,1313.0,1.0,938.0,29.0,22.0,23.0

In [76]:
# Renaming the products column
df_products.rename(columns = {'product_category_name_english':'category'}, inplace = True)

### olist_sellers_dataset

In [77]:
# Check shape of dataframe
df_sellers.shape

(3095, 4)

In [78]:
# Check head of dataframe
df_sellers.head()

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP

In [79]:
# Check for duplicate values
df_sellers_dups = df_sellers[df_sellers.duplicated()]
df_sellers_dups.shape

(0, 4)

In [80]:
# Check for NaN values
df_sellers.isnull().sum()

seller_id                 0
seller_zip_code_prefix    0
seller_city               0
seller_state              0
dtype: int64

In [81]:
# Describe dataframe
df_sellers.describe()

       seller_zip_code_prefix
count             3095.000000
mean             32291.059451
std              32713.453830
min               1001.000000
25%               7093.500000
50%              14940.000000
75%              64552.500000
max              99730.000000

In [82]:
# Check info of dataframe
df_sellers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   seller_id               3095 non-null   object
 1   seller_zip_code_prefix  3095 non-null   int64
 2   seller_city             3095 non-null   object
 3   seller_state            3095 non-null   object
dtypes: int64(1), object(3)
memory usage: 96.8+ KB

In [83]:
# Check for mixed type columns
for col in df_sellers.columns.tolist():
  weird = (df_sellers[[col]].applymap(type) != df_sellers[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_sellers[weird]) > 0:
    print (col)

### Cleaning/Wrangling

In [84]:
# Change seller_zip_code_prefix to string
df_sellers['seller_zip_code_prefix']=df_sellers['seller_zip_code_prefix'].astype(str)

In [85]:
# Checking state value counts
df_sellers['seller_state'].value_counts(dropna = False)

SP    1849
PR     349
MG     244
SC     190
RJ     171
RS     129
GO      40
DF      30
ES      23
BA      19
CE      13
PE       9
PB       6
RN       5
MS       5
MT       4
RO       2
SE       2
PI       1
AC       1
MA       1
AM       1
PA       1
Name: seller_state, dtype: int64

In [86]:
# Replacing the state codes with the full names
df_sellers['seller_state'] = df_sellers['seller_state'].replace(['AC'], 'Acre')
df_sellers['seller_state'] = df_sellers['seller_state'].replace(['AL'], 'Alagoas')
df_sellers['seller_state'] = df_sellers['seller_state'].replace(['AP'], 'Amapá')
df_sellers['seller_state'] = df_sellers['seller_state'].replace(['AM'], 'Amazonas')
df_sellers['seller_state'] = df_sellers['seller_state'].replace(['BA'], 'Bahia')
df_sellers['seller_state'] = df_sellers['seller_state'].replace(['CE'], 'Ceará')
df_sellers['seller_state'] = df_sellers['seller_state'].replace(['DF'], 'Distrito Federal')
df_sellers['seller_state'] = df_sellers['seller_state'].replace(['ES'], 'Espírito Santo')
df_sellers['seller_state'] = df_sellers['seller_state'].replace(['GO'], 'Goiás')
df_sellers['seller_state'] = df_sellers['seller_state'].replace(['MA'], 'Maranhão')
df_sellers['seller_state'] = df_sellers['seller_state'].replace(['MT'], 'Mato Grosso')
df_sellers['seller_state'] = df_sellers['seller_state'].replace(['MS'], 'Mato Grosso do Sul')
df_sellers['seller_state'] = df_sellers['seller_state'].replace(['MG'], 'Minas Gerais')
df_sellers['seller_state'] = df_sellers['seller_state'].replace(['PA'], 'Pará')
df_sellers['seller_state'] = df_sellers['seller_state'].replace(['PB'], 'Paraíba')
df_sellers['seller_state'] = df_sellers['seller_state'].replace(['PR'], 'Paraná')
df_sellers['seller_state'] = df_sellers['seller_state'].replace(['PE'], 'Pernambuco')
df_sellers['seller_state'] = df_sellers['seller_state'].replace(['PI'], 'Piauí')
df_sellers['seller_state'] = df_sellers['seller_state'].replace(['RJ'], 'Rio de Janeiro')
df_sellers['seller_state'] = df_sellers['seller_state'].replace(['RN'], 'Rio Grande do Norte')
df_sellers['seller_state'] = df_sellers['seller_state'].replace(['RS'], 'Rio Grande do Sul')
df_sellers['seller_state'] = df_sellers['seller_state'].replace(['RO'], 'Rondônia')
df_sellers['seller_state'] = df_sellers['seller_state'].replace(['RR'], 'Roraima')
df_sellers['seller_state'] = df_sellers['seller_state'].replace(['SC'], 'Santa Catarina')
df_sellers['seller_state'] = df_sellers['seller_state'].replace(['SP'], 'São Paulo')
df_sellers['seller_state'] = df_sellers['seller_state'].replace(['SE'], 'Sergipe')
df_sellers['seller_state'] = df_sellers['seller_state'].replace(['TO'], 'Tocantins')

In [87]:
# Rechecking state value counts
df_sellers['seller_state'].value_counts(dropna = False)

São Paulo              1849
Paraná                  349
Minas Gerais            244
Santa Catarina          190
Rio de Janeiro          171
Rio Grande do Sul       129
Goiás                    40
Distrito Federal         30
Espírito Santo           23
Bahia                    19
Ceará                    13
Pernambuco                9
Paraíba                   6
Rio Grande do Norte       5
Mato Grosso do Sul        5
Mato Grosso               4
Rondônia                  2
Sergipe                   2
Piauí                     1
Acre                      1
Maranhão                  1
Amazonas                  1
Pará                      1
Name: seller_state, dtype: int64

### product_category_name_translation

In [88]:
# Check shape of dataframe
df_translation.shape

(71, 2)

In [89]:
# Check head of dataframe
df_translation.head()

    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto
3         cama_mesa_banho                bed_bath_table
4        moveis_decoracao               furniture_decor

In [90]:
# Check for duplicate values
df_translation_dups = df_translation[df_translation.duplicated()]
df_translation_dups.shape

(0, 2)

In [91]:
# Check for NaN values
df_translation.isnull().sum()

product_category_name            0
product_category_name_english    0
dtype: int64

In [92]:
# Describe dataframe
df_translation.describe()

       product_category_name product_category_name_english
count                     71                            71
unique                    71                            71
top             beleza_saude                 health_beauty
freq                       1                             1

In [93]:
# Check info of dataframe
df_translation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 2 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   product_category_name          71 non-null     object
 1   product_category_name_english  71 non-null     object
dtypes: object(2)
memory usage: 1.2+ KB

In [94]:
# Check for mixed type columns
for col in df_translation.columns.tolist():
  weird = (df_translation[[col]].applymap(type) != df_translation[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_translation[weird]) > 0:
    print (col)

### Cleaning/Wrangling

None required.

# Exporting datasets

In [95]:
# Exporting cleaned datasets
df_customers.to_csv(os.path.join(path, 'Prepared Data', 'olist_customers_dataset.csv'))
df_geolocation.to_csv(os.path.join(path, 'Prepared Data', 'olist_geolocation_dataset.csv'))
df_items.to_csv(os.path.join(path, 'Prepared Data', 'olist_order_items_dataset.csv'))
df_reviews.to_csv(os.path.join(path, 'Prepared Data', 'olist_order_reviews_dataset.csv'))
df_orders.to_csv(os.path.join(path, 'Prepared Data', 'olist_orders_dataset.csv'))
df_products.to_csv(os.path.join(path, 'Prepared Data', 'olist_products_dataset.csv'))
df_sellers.to_csv(os.path.join(path, 'Prepared Data', 'olist_sellers_dataset.csv'))